.Checkout-wrap{
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    margin: 40px 0 0px;
    padding: 10px 0 20px;
}

.Checkout-wrap h1{
    color: hsl(14, 86%, 42%);
}
.Empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Empty-cart p{
    font-weight: 600;
}
.items-wrap{
    display: flex;
}
.wrap{
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.wraps{
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    /* border: 1px solid pink; */
}